# ==========================================
# Git Ignore - Backend FastAPI
# ==========================================
.env
.env.*
*.env
!.env.example

# Python
__pycache__/
*.py[cod]
*$py.class
venv/
.venv/
.pytest_cache/

# Base de datos local
*.db
*.sqlite3
# Permitir la base de datos semilla oficial de FashionStore
!app/fashionstore_local.db
